Repository GatorEducator/gatorgrade, pull requests merged in 2022-05, with the labels that each got.

#52 Command Line Generator
  gatorgrade/input/__init__.py
  gatorgrade/input/command_line_generator.py
Labels: input

#54 Reformat YAML data
  gatorgrade/input/in_file_path.py
Labels: input

#64 Set up shell commands
  gatorgrade/input/in_file_path.py
  gatorgrade/input/set_up_shell.py
Labels: input

#60 Results Output Generator
  .DS_Store
  gatorgrade/output/output_functions.py
  tests/test_output.py
Labels: output

#47 Out/command receive function
  gatorgrade/output/output_functions.py
  gatorgrade/output/output_tools.py
  poetry.lock
  pyproject.toml
  tests/input/hello-world.py
  tests/test_output_functions.py
Labels: output

#65 In parse config function
  gatorgrade/input/parse_config.py
Labels: input

#68 Output Main Function and README
  .github/cspell.json
  README.md
  gatorgrade/output/output_functions.py
  tests/test_output_functions.py
Labels: output

#70 In doc edit readme
  README.md
Labels: documentation, input

#55 MKDocs Integration
  docs/.remove-me
  docs/gen_pages.py
  docs/index.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Labels: integration

#58 Test suite for parse_config function
  tests/input/test_input_gg_checks.py
  tests/input/yml_test_files/gatorgrade_matchfilefragment.yml
  tests/input/yml_test_files/gatorgrade_no_shell_setup_check.yml
  tests/input/yml_test_files/gatorgrade_one_gg_check_in_file.yml
  tests/input/yml_test_files/gatorgrade_one_gg_check_no_file_context.yml
  tests/input/yml_test_files/gatorgrade_one_shell_command_check.yml
  tests/input/yml_test_files/gatorgrader_both_checks.yml
Labels: input

#69 Implement write function for generate.py
  gatorgrade/generate/generate.py
Labels: generate

#71 Path list creation
  gatorgrade/generate/generate.py
Labels: generate

#57 Run command for input
  gatorgrade/main.py
  tests/test_main.py
Labels: integration, blocked

#74 Gen/gen config
  gatorgrade/generate/generate.py
Labels: generate

#66 Add instructions to gen section
  README.md
Labels: documentation, generate

#63 Gen/add success tests
  tests/test_generate_success.py
Labels: generate

#84 Hotfix: fix windows setup shell
  gatorgrade/input/set_up_shell.py
Labels: bug

#85 Hotfix: output displays only a single failure
  gatorgrade/output/output_functions.py
  gatorgrade/output/output_percentage_printing.py
  tests/test_output.py
Labels: bug
